html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.item {
  display:block;
	width: 100px;
	overflow: visible;
	stroke: #ff5b79;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-linecap: round;
	transform: translateY(-15rem);
	-webkit-transform: translateY(-15rem);
	-moz-transform: translateY(-15rem);
	-ms-transform: translateY(-15rem);
	-o-transform: translateY(-15rem);
	margin: 10rem 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
